.gridControl {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;

  th {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    text-transform: capitalize;
  }

  tr:nth-child(2n) {
    background-color: #dddddd;
  }

  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }

  td,
  th {
    position: relative;
  }
}

.message {
  text-align: center;
  padding: 12px;
}
