.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;

  .paginationButton {
    padding: 0.5em 1em;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 0 0.5em;

    &:disabled {
      background-color: #6c757d;
      cursor: not-allowed;
    }
  }

  .paginationPage {
    font-weight: bold;
    margin: 0 0.5em;
  }
}
