.modalContent {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s ease;

  opacity: 0;
  z-index: 0;

  &.open {
    opacity: 1;
    z-index: 1;
  }
}

.modalHeader {
  h3 {
    margin: 0;
  }
}

.modalBody {
  padding: 12px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn {
  padding: 0.5em 1em;
  border: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.5em;

  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
}

.btnTrigger {
  margin-bottom: 24px;
}
